@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

:root {
    --color: #faa700;
    --color-light: #f5ede1;
    --dark: #a7a7a7;
    --dark: #8a8a8a;
    --darker: #303030;
    --sans-serif: "Roboto", sans-serif;
}

body {
    font-family: var(--sans-serif);
    background-image: url('/res/background.jpg');
}

body {
    background: #0a1a24;
}

.background {
    width: 100%;
    height: 56.25vw;
    box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
    position: absolute;
    top: 0;
    z-index: -1;
}

.background img {
    max-width: 100%;
    max-height: 100vh;
    box-shadow: inset 0px -17vw 30vw 1vw #131313;
}

.background + section {
    margin-top: 60vmin;
    background: transparent;
    --dark: rgba(white, .5);
    --dark: rgba(white, .6);
    --darker: rgba(white, .8);
}

.background + section .bookmark {
    border-color: rgba(255, 255, 255, 0.2);
}

.background + section .bookmark svg {
    fill: #fff;
}

.background + section .album-tracks {
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

section {
    background: #fafafa;
    margin: 100px 56px;
    padding: 20px 56px;
    color: var(--darker);
    color: rgba(255, 255, 255, 0.8);
}

section .album-info:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

section .album-art {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

section .album-art * {
    border-radius: 3px;
}

section .album-art img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -80px;
    box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}

section .play {
    display: flex;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    align-content: initial;
    color: white;
    background: var(--color);
    padding: 10px;
    text-transform: uppercase;
    flex: 1 0 50%;
}

section .bookmark {
    display: flex;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    align-content: initial;
    width: 48px;
    height: 48px;
    border: 3px solid var(--color-light);
    margin-left: 10px;
}

section .album-details > * {
    padding: 10px 0;
}

section h2 {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    align-items: center;
    align-content: initial;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

section h2 img {
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

section h1 {
    font-size: 50px;
    font-weight: 300;
    word-wrap: break-word;
}

section h1 + span {
    color: var(--dark);
}

section h1 + span span:first-child {
    padding-right: 20px;
}

section p {
    margin-top: 15px;
}

section .album-tracks {
    background: #f8f8f8;
    border: 1px solid #efefef;
    margin-top: 20px;
}

@media (max-width: 800px) {
    section {
        margin: 100px 36px 36px 36px;
    }
}

@media (max-width: 700px) {
    section .album-art {
        width: 100%;
    }

    section .album-art img {
        width: auto;
        max-width: 100%;
        margin: -100px auto 10px auto;
        display: block;
    }

    section .album-details {
        float: left;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    section {
        margin: 100px 20px 20px 20px;
        padding: 20px 16px;
    }

    section ol {
        padding: 16px;
    }
}

ol {
    list-style-type: none;
    padding: 20px 36px;
    font-weight: 500;
}

ol li {
    counter-increment: number;
    display: flex;
    flex-wrap: initial;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    height: 45px;
    color: var(--dark);
}

ol li span:not(:last-child) {
    margin-right: 2em;
}

@media (max-width: 700px) {
    ol li span:not(:last-child) {
        margin-right: 1em;
    }
}

ol li span:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--darker);
}

ol li span:first-child:before {
    content: counter(number);
    margin-right: 2em;
    color: var(--dark);
    display: inline-block;
    text-align: end;
    width: 20px;
}

.actions {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    flex: 1 1 100%;
}

a {
    color: white;
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */
    /* Цвет фона */
}

html {
    font-size: 16px;
}

.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
}

.footer-comment {
    color: #777;
}

.vote.plus:hover {
    color: green;
}

.vote.minus:hover {
    color: red;
}

.vote {
    cursor: pointer;
}

.comment-reply a {
    color: #777;
}

.comment-reply a:hover, .comment-reply a:focus {
    color: #999;
    text-decoration: none;
}

.devide {
    padding: 0px 4px;
    font-size: 0.9em;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(153, 153, 153, 0.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.musicset__button {
    width: 34px;
    height: 34px;
    padding: 0;
}

.musicset-track .musicset__button {
    background: 0 0;
}

.musicset__button {
    background: #00a8d9;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 13px;
    padding: 8px;
    position: relative;
    width: 11px;
}