<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign_up_style.css" type="text/css">
</head>
<body>
<script>
    function validateForm() {
// проверяем пароли
// выбираем элементы
        var password1 = document.getElementById('psw');
        var password2 = document.getElementById('psw1');
// сравниваем написанное, если не равно, то:
        if (password1.value !== password2.value) {
// сообщаем пользователю, можно сделать как угодно
            alert('Check passwords!');
// сообщаем браузеру, что не надо обрабатывать нажатие кнопки
// как обычно, т. е. не надо отправлять форму
            return false;
        }
        var password_regex = /[0-9a-zа-я_A-ZА-Я]*[A-Z]+[0-9a-zа-яА-ЯA-Z]*/i;
        if (!(password1.value.length >= 8 && password_regex.test(password1.value))) {
            alert('Bad password')
        }
// проверяем email
        var email = document.getElementById('email');
// регулярка для проверки, не знаю, работает ли приведенный в примере
        var email_regexp = /[0-9a-zа-я_A-ZА-Я]+@[0-9a-zа-я_A-ZА-Я^.]+\.[a-zа-яА-ЯA-Z]{2,4}/i;
// проверяем значение поля email, если нет, то:
        if (!email_regexp.test(email.value)) {
            alert('Check email');
            return false;
        }
    }
</script>
<#include "menu.ftl">
<div class="sign_up">
    <div class="sign_up_form">
        <form class="sign_up_form_form" method="post">
            <h1>Sign up</h1>
            <div class="box-input">
                <input class="input" name="username" required>
                <label>Username</label>
            </div>
            <div class="box-input">
                <input class="input" type="text" id="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="box-input">
                <input class="input" type="password" id="psw" name="password" required>
                <label>Password</label>
            </div>
            <div class="box-input">
                <input class="input" type="password" id="psw1" name="confirm" required>
                <label>Confirm password</label>
            </div>
            <div class="box-input">
                <input class="input" name="country" required>
                <label>Country</label>
            </div>
            <div class="recover">
                <input type="checkbox" id="ckbox1" name="isPerformer" value="true">
                <label for="ckbox1"><span class="text">Are you performer?</span></label>
            </div>
            <button type="submit" class="button" onclick="validateForm()">Sign up</button>

            <div class="recover">
                <input type="checkbox" id="ckbox2" name="rememberMe" value="true">
                <label for="ckbox2"><span class="text">Remember me</span></label>
            </div>
        </form>
    </div>
</div>
</body>
</html>